@model IEnumerable<DatabaseEntities.group>

@{
    ViewBag.Title = "Index";
}

<h3 align="center" style="font-weight:bold; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Groups  @Html.ActionLink(" ", "Create", "groups", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-plus" })</h3>

<p>
</p>

            &nbsp;

<table class="table">
    <tr>
        <th>
            Group Name
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.groupName)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.groupID }) |
                @Html.ActionLink("Details", "Details", new { id = item.groupID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.groupID })
            </td>*@
            <td>
                @Html.ActionLink(" ","Edit", "groups", routeValues: new { GroupID = item.groupID }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-pencil" })
                @Html.ActionLink(" ", "EmployeeList", "groups", routeValues: new { GroupID = item.groupID }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-user" })
                @Html.ActionLink(" ", "ProjectList", "groups", routeValues: new { GroupID = item.groupID }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-tasks" })

            </td>
            @*<td>
                <div class="pull-right">
                    @Html.ActionLink(" ", "EmployeeList", "groups", routeValues: new { GroupID = item.groupID }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-user" })
                    &nbsp;
                    @Html.ActionLink(" ", "ProjectList", "groups", routeValues: new { GroupID = item.groupID }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-tasks" })

                </div>
            </td>*@

        </tr>
      
    }

</table>

