@model Cronus.Login.Logon
@{ Html.EnableClientValidation();
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    }

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "loginForm" }))
{
    @Html.HiddenFor(u => u.RedirectUrl, new { value = Model.RedirectUrl })

    <div style="width:400px; margin:0 auto;">
        <div id="loginStatus" class="field-validation-error"></div>

        <img src="~/Content/Images/American_Chemical_Society_logo.svg.png" width="300" height="300"/>

        <div>@Html.LabelFor(u => u.EmployeeID)</div>
        <div>@Html.TextBoxFor(u => u.EmployeeID, new { id = "userid", @class = "inptFld" })</div>

        <div>@Html.LabelFor(u => u.Password)</div>
        <div>@Html.PasswordFor(u => u.Password, new { id = "passowdid", @class = "inptFld" })</div>

        <input type="submit" value="Login" />

        <div></div>
        <div>
            <span style="color: red">
                @Html.DisplayFor(u => u.ErrorMessage)
            </span>
        </div>
        
         @*<div>@Html.LabelFor(u => u.ErrorMessage, })</div>*@

    </div>

}

















@*<script type="text/javascript">
        $(document).ready(function () {
            // Set form to submit as ajax.
            $('#loginForm').ajaxForm({
                dataType: 'json',
                beforeSubmit: function (arr, $form, options) {
                    if (!$form.valid()) {
                        return false;
                    }
                },
                success: function (result) {
                    // Send user to landing page.
                    //if (result.Status == 'OK')
                    //{
                    //    document.location = result.RedirectUrl;

                    //}
                    if (result.isRedirect) {
                        document.location = result.RedirectUrl;
                        //window.location.href = result.RedirectUrl;
                    }
                    else {
                        $('#loginStatus').html(result.Status);
                    }
                }
            });
        });
    </script>*@