@model DatabaseEntities.favorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>favorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activity.activityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity.activityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.employeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.employeeFirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.favoriteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
