@model IEnumerable<DatabaseEntities.project>

@{
    ViewBag.Title = "Index";
}

<h3>Projects @Html.ActionLink(" ", "Create", "Project", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "glyphicon glyphicon-plus" })
</h3>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
    {
        <div class="pull-right">
            Project Name: @Html.TextBox("SearchString")  <input type="submit" value="Search" />
            </div>
<p>
        
    &nbsp;
        
    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectCapitalCode)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.projectAbbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectActive)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.activities)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectCapitalCode)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.projectAbbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectActive)
        </td>*@
        @*<td>
            @Html.ListBox("Id", new SelectList(item.activities, "activityID", "activityName"))
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.projectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.projectID }) |
            @Html.ActionLink("Activites", "ProjectActivities", new { id=item.projectID })
        </td>
    </tr>
}

</table>
