@using DatabaseEntities
@model hoursworked
@{
    var context = new CronusDatabaseEntities();
}
@Scripts.Render("~/Scripts/_hoursworkedrow.js")


    @*@using (Html.BeginForm("SubmitHours", "Home", FormMethod.Post))
    {*@
        @using (Html.BeginCollectionItem("HoursWorked"))
        {
            <div id="hoursWorkedRow"class="hoursWorkedRow">
                @*@Html.DropDownListFor(m => m.SelectedProjectID, new SelectList(Model.Projects, "projectID", "projectName"), "--- Select Project ---", new { @class = "form-control", @onchange = "javascript:GetActivities(this);" })
                @Html.DropDownListFor(m => m.SelectedActivityID, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                @Html.EditorFor(m => m.totalHoursWorked, new { htmlAttributes = new { @class = "form-control hoursInput", @style = "width:7%;", @min = "0", @type = "number" } })
                @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })*@
                @Html.DropDownListFor(m => m.project.projectID, new SelectList(context.projects, "projectID", "projectName"), "--- Select Project ---", new { @class = "form-control", @onchange = "javascript:GetActivities(this);", @onload = "javascript:GetActivities(this);"})
                @Html.DropDownListFor(m => m.activity.activityID, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                @Html.EditorFor(m => m.hours, new { htmlAttributes = new { @class = "form-control hoursInput", @style = "width:7%;", @min = "0", @type = "number" } })
                @Html.TextBoxFor(m => m.comments, new { @class = "form-control" })
                <span id="deleteRow" class="glyphicon glyphicon-remove deleteRow" onclick="DeleteRow(this)" width="200%"></span>
                <br />
                <br />
            </div>

        }
        @*<input type="submit" value="Submit" />
    }*@



