@using DatabaseEntities
@using Cronus.ViewModels
@model  HomeViewModel

@{
    ViewBag.Title = "Home Page";
    DateTime timePeriod = new DateTime(2016, 12, 4);

}

<h2>Weekly view</h2>

@Scripts.Render("~/Scripts/index.js")

@section Scripts
    {
    <script type="text/javascript">
        function AddRow(_day) {
            console.log("Executing Add Script")
            $.ajax({
                async: false,
                url: '/Home/AddHourWorked'
            }).success(function (partialView) {
                var divID = "#hoursworkedrow" + _day.id.slice(-3);
                console.log(divID);
                $(divID).append(partialView);
            });
        }
    </script>
}

<h2 id="dateTitle" align="center"></h2>

<div class="col-lg-12">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" width="100px" id="prevWeek" class="btn btn-default pull-left"><span class="glyphicon glyphicon-arrow-left"></span> Previous Week</button>

        </div>
        <div class="col-xs-4">
            <a href="/Home/Monthly" width="100px" class="btn btn-default"> Go to Monthly view</a>
        </div>
        <div class="col-xs-4">
            <button type="button" width="100px" id="nextWeek" class="btn btn-default pull-right">Next Week <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
</div>
<br />
<div style="display:inline;float:right; font-weight:bold" id="totalHours">Hours</div>
<br />
<br />
@using (Html.BeginForm("SubmitHours", "Home", FormMethod.Post))
{
    <label class="dayLabel" style="font-weight:bold; text-align:center">Monday</label>
    <table class="table table-striped col-md-12" id="actProjSubTableMon">
        <thead>
            <tr>
                <th class="col-md-3">Project</th>
                <th class="col-md-3">Activity</th>
                <th class="col-md-1">Hours</th>
                <th class="col-md-3">Comments</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
    </table>
    <div id="hoursworkedrowMon">
        @foreach (var entry in Model.HoursWorked)
        {
            
            if (entry.date.DayOfWeek == DayOfWeek.Monday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
            {
                entry.currentDay = DayOfWeek.Monday;
                @Html.Partial("_hoursworkedrow", entry);
            }
        }
        @{
            hoursworked hrsMon = new hoursworked();
            hrsMon.currentDay = DayOfWeek.Monday;
        }
        @Html.Partial("_hoursworkedrow", hrsMon)
    </div>
    <div>
        <input type="button" id="addhourworkedMon" name="addhourworkedMon" onclick="AddRow(this)" value="Add Activity" />
    </div>
    <br />
    <br />
    <label class="dayLabel" style="font-weight:bold; text-align:center">Tuesday</label>
    <table class="table table-striped col-md-12" id="actProjSubTableTue">
        <thead>
            <tr>
                <th class="col-md-3">Project</th>
                <th class="col-md-3">Activity</th>
                <th class="col-md-1">Hours</th>
                <th class="col-md-3">Comments</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
    </table>
    <div id="hoursworkedrowTue">
        @foreach (var entry in Model.HoursWorked)
        {
            if (entry.date.DayOfWeek == DayOfWeek.Tuesday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
            {
                entry.currentDay = DayOfWeek.Tuesday;
                @Html.Partial("_hoursworkedrow", entry);
            }
        }
        @{
            hoursworked hrsTue = new hoursworked();
            hrsTue.currentDay = DayOfWeek.Tuesday;
        }
        @Html.Partial("_hoursworkedrow", hrsTue)
    </div>
    <div>
        <input type="button" id="addhourworkedTue" name="addhourworkedTue" onclick="AddRow(this)" value="Add Activity" />
    </div>
    <br />
    <br />
    <label class="dayLabel" style="font-weight:bold; text-align:center">Wednesday</label>
    <table class="table table-striped col-md-12" id="actProjSubTableWed">
        <thead>
            <tr>
                <th class="col-md-3">Project</th>
                <th class="col-md-3">Activity</th>
                <th class="col-md-1">Hours</th>
                <th class="col-md-3">Comments</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
    </table>
    <div id="hoursworkedrowWed">
        @foreach (var entry in Model.HoursWorked)
        {
            if (entry.date.DayOfWeek == DayOfWeek.Wednesday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
            {
                entry.currentDay = DayOfWeek.Wednesday;
                @Html.Partial("_hoursworkedrow", entry);
            }
        }
        @{
            hoursworked hrsWed = new hoursworked();
            hrsWed.currentDay = DayOfWeek.Wednesday;
        }
        @Html.Partial("_hoursworkedrow", hrsWed)
    </div>
    <div>
        <input type="button" id="addhourworkedWed" name="addhourworkedWed" onclick="AddRow(this)" value="Add Activity" />
    </div>
<br />
<br />
<label class="dayLabel" style="font-weight:bold; text-align:center">Thursday</label>
<table class="table table-striped col-md-12" id="actProjSubTableThu">
    <thead>
        <tr>
            <th class="col-md-3">Project</th>
            <th class="col-md-3">Activity</th>
            <th class="col-md-1">Hours</th>
            <th class="col-md-3">Comments</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
</table>
<div id="hoursworkedrowThu">
    @foreach (var entry in Model.HoursWorked)
    {
        if (entry.date.DayOfWeek == DayOfWeek.Thursday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
        {
            entry.currentDay = DayOfWeek.Thursday;
            @Html.Partial("_hoursworkedrow", entry);
        }
    }
    @{
        hoursworked hrsThu = new hoursworked();
        hrsThu.currentDay = DayOfWeek.Thursday;
    }
    @Html.Partial("_hoursworkedrow", hrsThu)
</div>
<div>
    <input type="button" id="addhourworkedThu" name="addhourworkedThu" onclick="AddRow(this)" value="Add Activity" />
</div>
<br />
<br />
<label class="dayLabel" style="font-weight:bold; text-align:center">Friday</label>
<table class="table table-striped col-md-12" id="actProjSubTableFri">
    <thead>
        <tr>
            <th class="col-md-3">Project</th>
            <th class="col-md-3">Activity</th>
            <th class="col-md-1">Hours</th>
            <th class="col-md-3">Comments</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
</table>
<div id="hoursworkedrowFri">
    @foreach (var entry in Model.HoursWorked)
    {
        if (entry.date.DayOfWeek == DayOfWeek.Friday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
        {
            entry.currentDay = DayOfWeek.Friday;
            @Html.Partial("_hoursworkedrow", entry);
        }
    }
    @{
        hoursworked hrsFri = new hoursworked();
        hrsFri.currentDay = DayOfWeek.Friday;
    }
    @Html.Partial("_hoursworkedrow", hrsFri)
</div>
<div>
    <input type="button" id="addhourworkedFri" name="addhourworkedFri" onclick="AddRow(this)" value="Add Activity" />
</div>
<br />
<br/>
<label class="dayLabel" style="font-weight:bold; text-align:center">Saturday</label>
<table class="table table-striped col-md-12" id="actProjSubTableSat">
    <thead>
        <tr>
            <th class="col-md-3">Project</th>
            <th class="col-md-3">Activity</th>
            <th class="col-md-1">Hours</th>
            <th class="col-md-3">Comments</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
</table>
<div id="hoursworkedrowSat">
    @foreach (var entry in Model.HoursWorked)
    {
        if (entry.date.DayOfWeek == DayOfWeek.Saturday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
        {
            entry.currentDay = DayOfWeek.Saturday;
            @Html.Partial("_hoursworkedrow", entry);
        }
    }
    @{
        hoursworked hrsSat = new hoursworked();
        hrsSat.currentDay = DayOfWeek.Saturday;
    }
    @Html.Partial("_hoursworkedrow", hrsSat)
</div>
<div>
    <input type="button" id="addhourworkedSat" name="addhourworkedSat" onclick="AddRow(this)" value="Add Activity" />
</div>
<br />
<br />
<label class="dayLabel" style="font-weight:bold; text-align:center">Sunday</label>
<table class="table table-striped col-md-12" id="actProjSubTableSun">
    <thead>
        <tr>
            <th class="col-md-3">Project</th>
            <th class="col-md-3">Activity</th>
            <th class="col-md-1">Hours</th>
            <th class="col-md-3">Comments</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
</table>
<div id="hoursworkedrowSun">
    @foreach (var entry in Model.HoursWorked)
    {
        if (entry.date.DayOfWeek == DayOfWeek.Sunday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
        {
            entry.currentDay = DayOfWeek.Sunday;
            @Html.Partial("_hoursworkedrow", entry);
        }
    }
    @{
        hoursworked hrsSun = new hoursworked();
        hrsSun.currentDay = DayOfWeek.Sunday;
    }
    @Html.Partial("_hoursworkedrow", hrsSun)
</div>
<div>
    <input type="button" id="addhourworkedSun" name="addhourworkedSun" onclick="AddRow(this)" value="Add Activity" />
</div>
<br/>
<br />
<input type="submit" value="Submit Hours" class="btn btn-default pull-left"/>
}
<button type="button" width="100px" id="save" class="btn btn-default pull-right">Save <span class="glyphicon glyphicon-check"></span></button>
<br />




