@using Cronus.Login
@using DatabaseEntities
@model   Cronus.ViewModels.HomeViewModel
@Scripts.Render("~/Scripts/index.js")

@{
    ViewBag.Title = "Home Page";
    DateTime timePeriod = Model.currentWeekEndDate;
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        You're logged in as @UserManager.User.employeeFirstName @UserManager.User.employeeLastName
    </div>
    <h2>Weekly view</h2>


    using (Html.BeginForm("SubmitHours", "Home", FormMethod.Post, new { id = "submitForm" }))
    {
    <h2 id="dateTitle" align="center"></h2>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-xs-3">
                <button type="submit" value="Previous" id="prevWeekButton" name="submitButton" width="100px" class="btn btn-default pull-left"><span class="glyphicon glyphicon-arrow-left"></span> Previous Week</button>
            </div>
            <div class="col-xs-3">
                <a href="/Home/Monthly" width="100px" class="btn btn-default"> Go to Monthly view</a>
            </div>
            <div class="col-xs-3">  
                <button type="submit" value="Next" id="nextWeekButton" name="submitButton" width="100px" class="btn btn-default pull-right">Next Week <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
            <div class="col-xs-3">
                <div class="affix">
                    <button type="submit" width="100px" id="save" class="btn btn-default pull-right">Save <span class="glyphicon glyphicon-check"></span></button>
                </div>
            </div>
        </div>

    </div>

        <br />
        <div id="EditHoursWorked" name="EditHoursWorked" class="col-lg-12">
            @Html.HiddenFor(m => m.currentWeekEndDate)
            <div class="row">
                <div class="col-lg-9">        
                        <div class="pull-left" width="90%">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th></th>
                                        <th></th>
                                        <th id="totalHours">0 Total Hours</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Monday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableMon">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="hoursworkedrowMon">
                                                @foreach (var entry in Model.HoursWorked)
                                                {

                                                    if (entry.date.DayOfWeek == DayOfWeek.Monday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Monday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsMon = new hoursworked();
                                                    hrsMon.currentDay = DayOfWeek.Monday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsMon)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedMon" name="addhourworkedMon" onclick="AddRow(this, 1)" value="Add Activity" />
                                            </div>

                                    </tr>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Tuesday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableTues">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>

                                            <div id="hoursworkedrowTue">
                                                @foreach (var entry in Model.HoursWorked)
                                                {
                                                    if (entry.date.DayOfWeek == DayOfWeek.Tuesday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Tuesday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsTue = new hoursworked();
                                                    hrsTue.currentDay = DayOfWeek.Tuesday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsTue)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedTue" name="addhourworkedTue" onclick="AddRow(this, 2)" value="Add Activity" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Wednesday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableWed">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="hoursworkedrowWed">
                                                @foreach (var entry in Model.HoursWorked)
                                                {
                                                    if (entry.date.DayOfWeek == DayOfWeek.Wednesday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Wednesday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsWed = new hoursworked();
                                                    hrsWed.currentDay = DayOfWeek.Wednesday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsWed)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedWed" name="addhourworkedWed" onclick="AddRow(this, 3)" value="Add Activity" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Thursday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableThu">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="hoursworkedrowThu">
                                                @foreach (var entry in Model.HoursWorked)
                                                {
                                                    if (entry.date.DayOfWeek == DayOfWeek.Thursday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Thursday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsThu = new hoursworked();
                                                    hrsThu.currentDay = DayOfWeek.Thursday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsThu)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedThu" name="addhourworkedThu" onclick="AddRow(this, 4)" value="Add Activity" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Friday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableFri">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="hoursworkedrowFri">
                                                @foreach (var entry in Model.HoursWorked)
                                                {
                                                    if (entry.date.DayOfWeek == DayOfWeek.Friday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Friday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsFri = new hoursworked();
                                                    hrsFri.currentDay = DayOfWeek.Friday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsFri)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedFri" name="addhourworkedFri" onclick="AddRow(this, 5)" value="Add Activity" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Saturday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableSat">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="hoursworkedrowSat">
                                                @foreach (var entry in Model.HoursWorked)
                                                {
                                                    if (entry.date.DayOfWeek == DayOfWeek.Saturday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Saturday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsSat = new hoursworked();
                                                    hrsSat.currentDay = DayOfWeek.Saturday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsSat)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedSat" name="addhourworkedSat" onclick="AddRow(this, 6)" value="Add Activity" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <text class="dayLabel">Sunday</text>
                                            <table class="table table-striped col-md-12" id="actProjSubTableSun">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md-3">Project</th>
                                                        <th class="col-md-3">Activity</th>
                                                        <th class="col-md-1">Hours</th>
                                                        <th class="col-md-3">Comments</th>
                                                        <th class="col-md-2"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div id="hoursworkedrowSun">
                                                @foreach (var entry in Model.HoursWorked)
                                                {
                                                    if (entry.date.DayOfWeek == DayOfWeek.Sunday && entry.TimePeriod_periodEndDate.Date == timePeriod.Date)
                                                    {
                                                        entry.currentDay = DayOfWeek.Sunday;
                                                        @Html.Partial("_hoursworkedrow", entry);
                                                    }
                                                }
                                                @{
                                                    hoursworked hrsSun = new hoursworked();
                                                    hrsSun.currentDay = DayOfWeek.Sunday;
                                                }
                                                @Html.Partial("_hoursworkedrow", hrsSun)
                                            </div>
                                            <div>
                                                <input type="button" id="addhourworkedSun" name="addhourworkedSun" onclick="AddRow(this, 0)" value="Add Activity" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" value="Submit" id="submitButton" name="submitButton" class="btn btn-default pull-left">Submit</button>
                        </div>


                </div>
            </div>

        </div>
        if (Model.isApproved)
        {
            <script>
                disableDiv(document.getElementById('EditHoursWorked'));
            </script>
        }
        }
    }
    else
    {
    Layout = null;
        @Html.Partial("~/Views/Login/Login.cshtml", new Logon());
    }





