@using Cronus.Login
@model   Cronus.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        You're logged in as @UserManager.User.employeeFirstName @UserManager.User.employeeLastName
    </div>

    <h2>Weekly view</h2>

    @Scripts.Render("~/Scripts/index.js")

    @section Scripts
    {
        <script type="text/javascript">
        function AddRow(_day) {
            console.log("Executing Add Script")
            $.ajax({
                async: false,
                url: '/Home/AddHourWorked'
            }).success(function (partialView) {
                var divID = "#hoursworkedrow" + _day.id.slice(-3);
                console.log(divID);
                $(divID).append(partialView);
            });
        }
        </script>
    }

    <h2 id="dateTitle" align="center"></h2>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-xs-4">
                <button type="button" width="100px" id="prevWeek" class="btn btn-default pull-left"><span class="glyphicon glyphicon-arrow-left"></span> Previous Week</button>

            </div>
            <div class="col-xs-4">
                <a href="/Home/Monthly" width="100px" class="btn btn-default"> Go to Monthly view</a>
            </div>
            <div class="col-xs-4">
                <button type="button" width="100px" id="nextWeek" class="btn btn-default pull-right">Next Week <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>

    <br />

@*@using (Html.BeginForm("SubmitHours", "Home", FormMethod.Post))
{*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <th></th>
                <th></th>
                <th id="totalHours">Total Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <text class="dayLabel">Monday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableMon">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="hoursworkedrowMon">

                            @Html.Partial("_hoursworkedrow", Model)
                        
                    </div>
                    <div>
                        <input type="button" id="addhourworkedMon" name="addhourworkedMon" onclick="AddRow(this)" value="Add Activity" />
                    </div>

            </tr>
            <tr>
                <td>
                    <text class="dayLabel">Tuesday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableTues">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div id="hoursworkedrowTue">
                        @Html.Partial("_hoursworkedrow")
                    </div>
                    <div>
                        <input type="button" id="addhourworkedTue" name="addhourworkedTue" onclick="AddRow(this)" value="Add Activity" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <text class="dayLabel">Wednesday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableWed">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="hoursworkedrowWed">
                        @Html.Partial("_hoursworkedrow")
                    </div>
                    <div>
                        <input type="button" id="addhourworkedWed" name="addhourworkedWed" onclick="AddRow(this)" value="Add Activity" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <text class="dayLabel">Thursday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableThu">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="hoursworkedrowThu">
                        @Html.Partial("_hoursworkedrow")
                    </div>
                    <div>
                        <input type="button" id="addhourworkedThu" name="addhourworkedThu" onclick="AddRow(this)" value="Add Activity" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <text class="dayLabel">Friday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableFri">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="hoursworkedrowFri">
                        @Html.Partial("_hoursworkedrow")
                    </div>
                    <div>
                        <input type="button" id="addhourworkedFri" name="addhourworkedFri" onclick="AddRow(this)" value="Add Activity" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <text class="dayLabel">Saturday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableSat">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="hoursworkedrowSat">
                        @Html.Partial("_hoursworkedrow")
                    </div>
                    <div>
                        <input type="button" id="addhourworkedSat" name="addhourworkedSat" onclick="AddRow(this)" value="Add Activity" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <text class="dayLabel">Sunday</text>
                    <table class="table table-striped col-md-12" id="actProjSubTableSun">
                        <thead>
                            <tr>
                                <th class="col-md-3">Project</th>
                                <th class="col-md-3">Activity</th>
                                <th class="col-md-1">Hours</th>
                                <th class="col-md-3">Comments</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="hoursworkedrowSun">
                        @Html.Partial("_hoursworkedrow")
                    </div>
                    <div>
                        <input type="button" id="addhourworkedSun" name="addhourworkedSun" onclick="AddRow(this)" value="Add Activity" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" , value="Submit" />
@*}*@

<button type="button" width="100px" id="save" class="btn btn-default pull-left">Save <span class="glyphicon glyphicon-check"></span></button>
<br />
<br />
<br />
<br />
<br />

}
else
{
    @Html.Partial("~/Views/Login/Login.cshtml", new Logon());
}





